
body {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
html { 
    background: url(https://images.pexels.com/photos/580900/pexels-photo-580900.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.main-page {
    color: #061727;
    margin: 0, auto;
    display: flex;
    justify-content: center;
    header {
        width: 40%;
        background-color: rgba(255, 255, 255, 0.559);
        margin: 2rem;
        border-radius: 10px;
    }
}
.board {
    margin:auto; 
    display: flex;
    flex-direction: column-reverse;
    width: 500px;
    justify-content: center;
    border: 10px solid #004341;
    background-color: #004341;
    border-radius: 10%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.831);
}
.slot {
    width: 95px;
    height: 95px;
    border: 4px solid #004341;
    text-align: center;
    align-items: center;  
    padding: 0px;
    margin: 0px;
    font-size: 70px;
    border-radius: 80px;
    background-color: #cbffd3;
}

.column {
    display: flex;
}
.main-page {
    font-size: 1.75em;     
}
.button {
    padding: 10px 32px;
    font-size: 1em;
    background-color: #64ef13;
    font-size: 1.5em;
    border-radius: 10px;
}

dialog::backdrop {
    background: url(https://images.pexels.com/photos/580900/pexels-photo-580900.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed; ;
}

#instruction-modal, #alert-modal {
    justify-content: center;
    align-items: center;
    padding: 5em;
}

.modal {
    border: solid 3px #007A78;
    padding: 10px 32px;
    font-size: 1em;
    background-color: #cbffd3; 
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.831);
    border-radius: 15px;
}
